{% extends 'searchstore/Main.html'%}
{% load static %}
{% block content %}

<div>
    <div class="alpa-search"></div>
    <div class="alpa-image text-center" title="Alpa">
        <img src="{% static "images/ShopEngineV2.png" %}" alt="alpa LOGO" class="transform: scale(0.05);">
    </div>
    <div class="input-group text-center">
        <input type="text" class="form-control" placeholder="Search Shop Engine or Click a Category Below!"> </input>
        <!-- <div class="input-group-append"> -->
        <button type="button" class="btn btn-default input-group-text">Search</button>
    </div>
</div>
<div class="bookmarks">
    <div class="row">
        <div class="col-md-4">
            <div class="site" title="Clothing">
                <i class="fa fa-shopping-bag"></i>
                <p>Clothing</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="site" title="Office">
                <i class="fa fa-folder-open"></i>
                <p>Office</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="site" title="Sports">
                <i class="fa fa-bicycle"></i>
                <p>Sports</p>
            </div>
        </div>

    </div>
</div>


{% endblock content %}